@import '~_styles/variables/_variables';
@import '~_styles/mixins/_global_mixins';

$z-index-overlay: 100;
$box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 14px rgba(12,13,14,0.1), 0 10px 25px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);

// @TODO: Figure out why on safari it doesn't center the anchor tags!

.Navbar {
  margin-bottom: 16px;
  box-shadow: $box-shadow;
  background: $white;
  &-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: $font-size--2000;
    text-align: center;
    font-weight: bold;
    color: $white;
    background: $primary-teal;
    padding: 8px 16px;
    &-message {
      white-space: nowrap;
      flex-grow: 1;
    }
    &-mediaAccounts {
      flex-grow: 0;
    }
    &-submessage {
      display: block;
      margin-top: 4px;
      font-weight: 300;
      font-style: italic;
      letter-spacing: 2px;
      font-size: $font-size--1000;
    }
    &-tel {
      color: $tertiary-beige;
      text-decoration: underline;
      &:hover {
        color: $white;
      }
    }
  }
  &-header {
    position: static;
    top: -120px;
    display: flex;
    justify-content: space-between;
    height: 150px;
    overflow: hidden;
    background: inherit;
    &-logo {
      &-image {
        height: 100%;
        width: auto;
        margin: 0 auto; // center image
      }
      &-wrapper {
        height: 100%;
        padding: 0 16px;
        @include Breakpoint($bp--large) {
          display: inline-flex;
          height: 100px;
          margin-left: 0;
          padding: 0;
        }
      }
    }
    &-navigation {
      height: 100%;
      &-toggle {
        display: none;
        background: none;
        width: 100%;
        height: 100%;
        border: 2px solid $brand-darkgrey;
        border-radius: 4px;
        &-icon {
          font-size: 30px;
        }
      }
      &-menu {
        display: flex;
        align-items: stretch;
        height: 100%;
        white-space: nowrap;
        margin: 0; // Reset...
        background: $white;
        @include Breakpoint($bp--large) {
          justify-content: center;
        }
        @include Breakpoint($bp--medium) {
          display: none;
          flex-direction: column;
          height: auto;
          position: absolute;
          width: 100%;
          left: 0;
          z-index: $z-index-overlay;
          &-item {
            justify-content: center;
          }
          &-link {
            &:focus,
            &:hover {
              .Navbar-header-navigation-menu-text {
                border-bottom: none;
              }
            }
          }
        }
        &-item,
        &-link {
          display: inline-flex;
          height: 100%;
          align-items: center;
          justify-content: center;
          &:hover,
          &:focus {
            color: $tertiary-beige;
            text-decoration: none;
            background: $secondary-grey;
            transition: background .2s ease-in;
            transform: translate3d(0,0,0);
            .Navbar-header-navigation-menu-text {
              color: $tertiary-beige;
              padding-bottom: 4px;
              border-bottom: 4px solid $tertiary-beige--lighter;
            }
          }
        }
        &-text {
          color: $secondary-grey;
          font-size: $font-size--2000;
          display: inline-block;
          margin: 0 16px;
          text-transform: uppercase;
          padding-bottom: 8px; // prevents jumpiness for when border is added.
          @include Breakpoint($bp--larger) {
            font-size: $font-size--1000;
          }
          @include Breakpoint($bp--large) {
            font-size: $font-size--1000;
          }
        }
      }
      @include Breakpoint($bp--large) {
        height: 50px;
      }
      @include Breakpoint($bp--medium) {
        height: initial;
        width: 100px;
        padding: 20px; // centers the button.
        &-toggle {
          display: block;
        }
        &-menu {
          box-shadow: $box-shadow;
          &-item {
            padding: 4px 0;
            height: initial;
            align-items: stretch;
          }
          &-link {
            width: 100%; // stretches the anchor tags
          }
        }
      }
    }
    @include Breakpoint($bp--larger) {
      height: 100px;
      &--isStickying {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: top .3s linear;
        transform: translate3d(0,0,0);
        box-shadow: $box-shadow;
        z-index: $z-index-overlay;
      }
    }
    @include Breakpoint($bp--large) {
      flex-direction: column;
      justify-content: center;
      height: initial;
    }
    @include Breakpoint($bp--medium) {
      justify-content: space-between;
      flex-direction: row;
      &--expanded {
        overflow: visible;
        .Navbar-header-navigation-menu, {
          display: flex;
        }
      }
    }
  }
}