@import '~_styles/variables/_variables';

.Navbar {
  border: 1px solid black;
  margin-bottom: 16px;
  &-logo {
    max-width: 300px;
  }
  &-banner {
    text-align: center;
    color: $tertiary-beige;
  }
}