@import '~_styles/variables/_variables';
@import '~_styles/mixins/_global_mixins';

.ImageComponent {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  &-img {
    width: 100%;
    height: auto;
  }
  &--selfContained {
    
  }
  &--withBorder {
    border: 2px solid $brand-darkgrey;
  }
  &--fullWidth {
    .ImageComponent-img {
      width: 100%;
      height: auto;
    }
  }
  &--fullHeight {
    .ImageComponent-img {
      width: auto;
      height: 100%;
    }
  }
}