@import '~_styles/variables/_variables';
@import '~_styles/mixins/_global_mixins';

.ImageComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  &-img {
    flex-grow: 0;
    max-height: 100%;
    max-width: 100%;
  }
  &--withBorder {
    border: 2px solid $brand-darkgrey;
  }
}