.Slideshow {
  background: black;
  border: 1px;
  border-radius: 4px;
  &-imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  &.is-loading {
    color: white;
  }
}